[submodule "themes/svtle"]
	path = themes/svtle
	url = https://github.com/JensRantil/pelican-svbtle.git
[submodule "newsite/themes/hyde"]
	path = newsite/themes/hyde
	url = https://github.com/spf13/hyde.git
