[submodule "newsite/themes/hyde"]
	path = themes/hyde
	url = https://github.com/spf13/hyde.git
[submodule "newsite/themes/minimal"]
	path = themes/minimal
	url = https://github.com/calintat/minimal.git
