  {{ partial "head.html" . }}
  <body class="frontpage">

          {{ partial "topbody.html" . }}

          <div class="inner cover">
            <h1 class="cover-heading">Tech dude</h1>
            <p class="lead">
              Backend/security/infrastructure/DevOps engineer (<a href="https://www.tink.se">@tink</a>), engineering mathematics, traveller, nerd, juggler, guitar/african drum player. Inspired Swede.
            </p>
            <p class="lead services">
              <a href="https://github.com/JensRantil" class="btn btn-lg btn-default">
                <span class="glyphicon glyphicon-console" aria-hidden="true"></span>
                Github
              </a>
              <a href="https://twitter.com/JensRantil" class="btn btn-lg btn-default">
                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                Twitter
              </a>
              <a href="https://plus.google.com/+JensRantil" class="btn btn-lg btn-default">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Google+
              </a>
              <a href="https://www.linkedin.com/in/jensrantil" class="btn btn-lg btn-default">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                LinkedIn
              </a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

	{{ partial "bottombody.html" . }}

  </body>
</html>
