    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Jens Rantil</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="/blog/">Blog</a></li>
                  <li><a href="/contact/">About</a></li>
                </ul>
              </nav>
            </div>
          </div>
